.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Auth-form {
    width: 490px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    border-radius: 8px;
    background: linear-gradient(36deg, transparent, skyblue, blue);
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.sign-up {
    cursor: pointer;
    font-weight: bold;
    color: lime;
}

.not-registered {
    text-align: center;
}

.form-group {
    margin-top: 0.75rem;
}

.form-control {
    margin-top: 0.25rem;
}

Button.btn {
    margin-top: 1rem;
    padding: 3px;
    width: 7rem;
}

.btn:hover {
    background: linear-gradient(36deg, transparent, skyblue, skyblue, blue);
}

.already-registered {
    text-align: center;
}

.submit-grid {
    display: grid;
    gap: 2;
}
