.user-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f3f4;
}

.add-user-link {
    color: #f2f3f4;
    text-decoration: none;
}

.user-list-container > h3 {
    font-size: 32px;
}

th {
    padding: 0 2rem;
}

td {
    border: 2px groove #50c878;
    text-align: center;
    padding: 5px;
}

tr:hover {
	background-color: #1f1f1f;
}

.table-heading:hover {
	background-color: #0f0f0f;
}

tr > td > Button:hover {
	transform: scale(1.05);
}